body {
    background-color: rgb(14, 14, 14);
}
::selection {
    background-color: pink;
    color: rgb(255, 255, 255);
}
h1 {
    font-family: 'Roboto Slab', monospace;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase; 
    color: grey;
}
.name {
    font-family: 'Roboto Slab', monospace;
    color: whitesmoke;
    font-weight: 300;
    font-size: 20px;
    text-transform: lowercase;
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100%;
}

.links {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.T  {
    color: rgb(78, 78, 78);
    text-align: center;
    font-weight: bold;
    display: none;
}
